body{
	font-size:16px;
	padding-top:55px;
}
.header-bg{
	background-image:url('../img/header-bg.jpg');
	background-position:bottom center;
	background-size:cover;
	background-repeat: no-repeat;
	text-align: center;
}
.header-bg h1{
	background:#fff;
	padding:15px 40px;
	display:inline-block;
	font-weight: bold;

}
.header-bg p{
	color:#fff;
	font-size:1.5rem;
}